<div class="main-title">
  <h2>Other <span>Ventures</span></h2>
</div>
<div class="portfolios">
  <div class="portfolio-item" *ngFor="let otherventure of otherventures">
    <div class="image">
      <img src="assets/{{ otherventure.imageUrl }}" alt="">
    </div>
    <div class="portfolio-text">
      <h3>{{ otherventure.name }}</h3>
      <p>{{ otherventure.description }}</p>
      <p>{{ otherventure.duration }}</p>
      <div class="divider"></div>
  </div>
    <div class="hover-items">
      <div class="icons">
          <a *ngIf="otherventure.extUrl" href="{{ otherventure.extUrl }}" class="icon" target="_blank">
            <i class="fas fa-external-link-alt"></i>
          </a>
      </div>
    </div>
  </div>
</div>
