<div class="main-title">
  <h2>My <span>education</span></h2>
</div>
<div class="timeline">
  <div class="timeline-item" *ngFor="let item of educationItems">
      <div class="tl-icon">
          <i class="fas fa-graduation-cap"></i>
      </div>
      <p class="tl-duration">{{ item.start }} - {{ item.end }}</p>
      <h5>{{ item.name }}<span> - {{ item.school }}</span></h5>
      <p>
          {{ item.description }}
          <button type="button" class="btn btn-qualification" (click)="openModal(item.qualificationUrl)">View Qualification <i class="fas fa-award"></i></button>
      </p>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close" (click)="close()">&times;</span>
          <img src="assets/{{ qualificationUrl }}" alt="">
        </div>
      </div>
  </div>
</div>
