<div class="main-title">
  <h2>About <span>me</span></h2>
</div>


<div class="about-container">
  <div class="left-about">
      <h4>Biography:</h4>
      <p>
          I am a driven, committed professional who takes immense pride
          in my work. I have over 5 years of experience in
      </p>
  </div>
  <div class="right-about">
      <div class="about-item">
          <div class="abt-text">
              <p class="large-text">300+</p>
              <p class="small-text">Happy <br /> Clients</p>
          </div>
      </div>
  </div>
</div>


<div class="about-stats">
  <h4 class="stat-title">My Skills</h4>
  <div class="progress-bars">
      <div class="progress-bar" *ngFor="let skill of skills">
        <p class="prog-title">{{ skill.title }}</p>
        <div class="progress-con">
          <p class="prog-text">{{ skill.amount }}</p>
          <div class="progress">
            <span class="{{ skill.span }}"></span>
          </div>
        </div>
      </div>
  </div>
</div>
