<div class="main-title">
  <h2>About <span>me</span></h2>
</div>


<div class="about">
  <p>
    I am a driven, committed full stack software engineer who 
    takes immense pride in my work. I have over 5 years of professional 
    experience in web software development as well as a degree in computer science.
  </p>
</div>


<div class="about-stats">
  <h4 class="stat-title">My Skills</h4>
  <div class="progress-bars">
      <div class="progress-bar" *ngFor="let skill of skills">
        <p class="prog-title">{{ skill.title }}</p>
        <div class="progress-con">
          <p class="prog-text">{{ skill.amount }}</p>
          <div class="progress">
            <span class="{{ skill.span }}"></span>
          </div>
        </div>
      </div>
  </div>
</div>
